.about__container {
  align-items: center;
  grid-template-columns: 1fr;
  row-gap: 2.5rem;
}

.about__img {
  width: 590px;
  height: 350px;
  border-radius: 1.5rem;
  justify-self: center;
  object-fit: cover;
}

.about__data {
  padding: 0 2rem;
}

.about__subtitle, .about__description {
  margin-bottom: var(--mb-1);
}



/* BREAKPOINTS */
/* For large devices  */
@media screen and (max-width: 992px) {
  .about__img {
    height: 300px;
    width: 450px;
  }

  .about__data {
    padding: 0 5rem;
  }
}

/* For medium devices  */
@media screen and (max-width: 576px) {
  .about__img {
    height: 250px;
    width: 350px;
  }

  .about__data {
    padding: 0;
  }
}
